<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.TP2_Mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="View.VisualisationSection"></activity>
        <activity android:name="View.ParamEtudiant" />
        <activity android:name="View.TableauDeBord" />
        <activity android:name="View.SectionMetier" />
        <activity android:name="View.MetierEtudiant" />
        <activity android:name="Presenter.Pres_LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>